.data_percentage span{
 padding: 0 4px;
 color: #999;
}

.data_money span{
  margin: 0 4px;
  color: #999;
}

.data_date{

}

.data_date span{
  margin: 0 4px;
  color: #333;
}

.data_multi_label{
  color: #999;
  font-weight: 100;
  padding: 0 4px;
}